/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Main content*/

.gameContainer {
    text-align: center;
    background-color: lightgrey;
    height: 100vh;
}

.buttonContainer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer button {
    margin: 0 20px;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    background-color: #428df5;
    border: none;
    outline: none;
}


 button:hover {
    background-color: lightgreen;
}


.siteTitle {
    margin: 0 auto;
    width: 100%;
    padding: 50px 0px 20px;
}

.scoreBoard {
    height: 200px;
    margin-top: 20px;
}

.playerScore, span,  .computerScore {
    padding-top: 25px;
}